html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.bg-gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#E77032 0%, #D67940 100%);
}

.bg-dots {
  width: 100vw;
  height: 100vh;
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
  background-image: radial-gradient(#EC994F 35%, transparent 35%),
    radial-gradient(#EC994F 35%, transparent 35%);
  animation: bgscroll 1s infinite linear;
}

@keyframes bgscroll {
  from {
    background-position: 0 0, 15px 15px;
  }
  to {
    background-position: -15px 15px, 0px 30px;
  }
}
